
 * {
    box-sizing: border-box
 }
 div, header, footer {
    border: 1px solid black;
}

.section-one {
    background-color: aqua;
}

.section-one div {

    height: 300px;
    width: 33.333%;
    float: left;

}


.section-two div {
    height: 350px;
    width: 50%;
    float: left;
}

header, footer {
    height: 65px;
    clear: both;
}